.parent {
  height: 100;
  border: 20px solid rgb(126, 234, 43);
  display: flex;
  flex-wrap: wrap;
}
.child1 {
  width: 200px;
  height: 200px;
  background: rgb(91, 148, 240);
}
.child2 {
  width: 200px;
  height: 200px;
  background: rgb(235, 233, 87);
}
.child3 {
  width: 200px;
  height: 200px;
  background: rgb(35, 170, 232);
}
.child4 {
  width: 200px;
  height: 200px;
  background: rgb(231, 85, 153);
}
/* check */
